/*---------------imports---------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background: #3e1f47;
}

/*---------------header---------------*/

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272640;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

ul li a::after{
    content: '';
    display: block;
    background: #f7e108;
    height: 3px;
    width: 0%;
    transition: 0.5s;
    margin: auto;
}

ul li a:hover::after{
    width:100%;
}

.logo img{
    height:60px;
    width: 60px;
    transition: 0.3s ease-in-out;
}
.logo img:hover{
    height:70px;
    width:70px
}
.logo{
    padding: 0 10px;
}

.caButton{
    padding:0 20px;
}
.caButton button{
    border:2px solid #f7e108;
    background: transparent;
    border-radius: 15px 15px 15px 15px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
    transition: 0.7s ;
}
.caButton button:hover{
    background: #f7e108;
    color: #272640;
}
.burger div{
    height: 3px;
    width:30px;
    display: block;
    border-radius: 20px;
    background-color: #f7e108;
    margin:7px;
}
.burger{
    display: none;
}
@media screen and (max-width: 855px){
    ul {
        position: fixed;
        margin: 0;
        width: 70%;
        flex-direction: column;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        top:64px;
        padding:0;
        background-color: #272640;
        border-radius: 0px 0px 10px 10px;
    }
    ul li{
        padding-bottom: 20px;
    }
    header{
        border-radius: 10px 10px 0px 0px;
    }
}


